# Laravelの環境設定ファイル
.env
.env.example

# Laravelのキャッシュファイル
bootstrap/cache/*
!bootstrap/cache/.gitignore

# Laravelのストレージ（アップロードファイルなど）
storage/*
!storage/.gitignore
!storage/app
!storage/app/public
!storage/framework
!storage/framework/cache
!storage/framework/sessions
!storage/framework/testing
!storage/framework/views
!storage/logs

# Composerの依存ファイル
/vendor/
composer.lock

# Node.js の依存ファイル
/node_modules/
pnpm-lock.yaml
npm-debug.log*
yarn-error.log

# Vueのビルドファイル（Viteを使用）
/public/build
/public/hot
/public/storage
/vite
/vite.lock

# IDE や OS に依存する不要なファイル
*.log
*.swp
*.swo
.idea/
.vscode/
.DS_Store
Thumbs.db

.pnpm-store/